:root { 
--blue_A400_01:#1f73f1; 
--black_900_3d:#0000003d; 
--red_600:#e33629; 
--blue_A400:#1877f2; 
--cyan_A400_60:#00efff60; 
--black_900_3f:#0000003f; 
--black_900_87:#00000087; 
--white_A700_99:#ffffff99; 
--black_900_01:#0b0b0b; 
--gray_400_33_01:#c4c4c433; 
--gray_400_19:#bfbfbf19; 
--indigo_A700_01:#4339de; 
--deep_purple_A400_33:#5d35ff33; 
--indigo_A700_02:#2d43f6; 
--deep_orange_500:#fd6b22; 
--deep_purple_A200:#6d63ff; 
--black_900_02:#000000; 
--pink_100:#ffbddb; 
--red_500_cc:#ff3838cc; 
--gray_600:#787878; 
--gray_400:#bebebe; 
--blue_gray_100:#d2d2d2; 
--gray_800:#4c4c4c; 
--red_A200:#f75858; 
--indigo_400:#587dbd; 
--deep_purple_50:#eceaff; 
--black_900_99:#00000099; 
--indigo_A700:#233dff; 
--gray_400_01:#c4c4c4; 
--black_900_19:#00000019; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--indigo_600:#3a31c0; 
--indigo_A200_ba:#5271ffba; 
--deep_orange_50:#fef0e7; 
--blue_gray_50:#f1f1f1; 
--indigo_A200:#5271ff; 
--light_blue_400:#20b9fd; 
--green_600:#319f43; 
--amber_A400:#f8bd00; 
--white_A700_70:#ffffff70; 
--red_100:#ffd6d6; 
--red_50:#ffeeee; 
--white_A700_33:#ffffff33; 
--black_900:#0e0e0e; 
--gray_400_33:#bfbfbf33; 
--black_900_26:#00000026; 
--gray_600_01:#6d6d6d; 
--indigo_50:#e2e8f0; 
--white_A700_a2:#ffffffa2; 
--gray_900:#1e1e1e; 
--light_blue_50:#e5f8ff; 
--gray_300:#dddddd; 
--gray_300_01:#e6e6e6; 
--gray_100:#f3f3f3; 
--white_A700_00:#ffffff00; 
--black_900_33:#00000033; 
--indigo_A400:#554ce1; 
--indigo_500:#4138d0; 
--gray_700_23:#61616123; 
}